

body {
    background-color: #2874A6;
    font-family: 'Roboto Mono', monospace;
}

div {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid yellow;
    background-color: white;
    color: #2874A6;
    border-radius: 6px;;
    text-align: center;
}